/*Navigation*/

nav {
    font-family: 'Poppins';
}

.nav-link:hover {
    color: cadetblue !important;
}


/*Carousel Page Arbeiten*/


/* Index */

section.intro {
    background-color: lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    width: 100%;
}

section.intro img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-right: 25px;
}

section.intro .topic {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
}

section.intro .topic h1 {
    font-size: 48pt;
    font-weight: 800;
    margin-bottom: 25px;
    color: whitesmoke;
}

section.intro .topic h2 {
    font-size: 18pt;
    font-weight: 300;
    color: whitesmoke;
}

section.intro hr {
    margin-left: 25px;
    color: whitesmoke;

}


/*Kontaktformuar*/

h3 {
    font-size: 24pt;
    font-weight: 800;
    padding-bottom: 12%;
    color: whitesmoke;
}

form {
    padding-top: 20%;
    width: 70% !important;
    height: 40% !important;
    padding-bottom: 16%;
}

.kontaktformular {
    border: #000;
    display: flex;
    justify-content: center;
}

.kontaktformular h3 {
    color: darkslategray;
}

.submit {
    color: darkslategray !important;
}


/*Equitment*/

.card-deck {
    padding: 5%;

}


/*footer*/

.foot {
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    width: 100%;
}

.footr {
    font-family: Poppins;
    font-size: 1em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 7%;
    padding-bottom: 4%;
    text-align: right;
    color: #ffffff;
}

.footr a {
    color: #fff;
}

.footl {
    font-family: Poppins;
    font-size: 1em;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 4%;
    color: #fff;

}

/*Responsive*/

@media screen and (max-width: 720px) {

    /* UNTERSEITEN Intro */
    section.intro img {
        width: 100%;
        height: 450px;
    }

    section.intro .topic {
        width: 95%;
        display: flex;
        justify-content: center;
        padding: 10%;
    }

    section.intro .topic h1 {
        font-size: 20pt;
        font-weight: 800;
        margin-bottom: 25px;

    }

    section.intro .topic h2 {
        font-size: 14pt;
        font-weight: 300;
    }

    section.intro {
        display: block;
        justify-content: space-around;
        align-content: flex-end;
        height: 95%;

    }

    section.intro hr {
        border-left: 3px solid #731422;
        margin-left: 10px;
    }

    .foot {
        display: flex;
        justify-content: space-between;
        background-color: darkgrey;
        width: 100%;
    }

    .foot h2 {
        font-size: 14pt;
        display: block;
    }

    .footr {
        font-family: Poppins;
        font-size: 0.75em;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 7%;
        padding-bottom: 4%;
        text-align: right;
    }

    .footr a {
        color: #fff;
    }

    .footl {
        font-family: Poppins;
        font-size: 0.75em;
        text-align: left;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 4%;
        color: #fff;

    }

}